// (/strava) page

#strava-activities {
    
  .filters-container {
    display: flex;
    justify-content: flex-start; // Aligns items to the start, making them closer together.
    flex-wrap: wrap; // Keeps wrapping enabled in case of smaller screens.
    margin-bottom: 20px; // Space below the filters container.

    .filter-item, button {
      flex: 1 1 auto; // Allows items to grow and shrink as needed, but starts out only as large as their content.
      margin-left: 0px;
      margin-right: 0px; // Adjusts right margin for spacing between items.

      &:last-child {
        margin-right: 0; // Removes the right margin from the last item.
      }

      label {
        margin-bottom: 5px; // Space between label and input.
      }

      input[type="date"] {
        width: 125px; // Ensures inputs do not stretch unnecessarily.
      }
      input[type="number"] {
        width: 75px; // Ensures inputs do not stretch unnecessarily.
      }
    }
  }
  
    .content-container {
      display: flex;
      align-items: stretch; // Make legend and map containers the same height
      
      .legend {
        flex-basis: 200px; // Adjust based on your needs
        padding: 20px;
        border-right: 1px solid #ccc; // Optional: adds a line between the legend and the map
        
        ul {
            list-style-type: none; // Removes bullet points
            padding: 0; // Removes default padding
            margin: 0 0 60px 0; // Ensures there's no default margin
        }
        
        li {
            margin-bottom: 10px; // Adds space between list items, adjust as needed
        }

        .color-box {
          width: 16px;
          height: 16px;
          display: inline-block;
          margin-right: 8px;
        }
        
        .ride { background-color: #2196F3; }
        .run { background-color: green; }
        .workout { background-color: yellow; }
        .walk { background-color: #9E9E9E; }
        .hike { background-color: #FD7E14; }

        // Adding space between buttons
        button {
            margin-bottom: 10px; // Adds space to the right of each button
            &:last-child {
                margin-right: 0; // Removes margin from the last button
            }
        }
      }
      
      .strava-map-container {
        flex-grow: 1; // Allow the map to fill the remaining space
      }

    }
  }
